{% extends "base/header.html" %}

<!doctype html>
<html lang="fr">

{% block title %}
<ul class="navbar-nav">
  <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
    <h1 class="welcome-text">Bienvenue, <span class="text-black fw-bold">{{ user.username }}</span></h1>
    <h3 class="welcome-sub-text">Votre aperçu général </h3>
  </li>
</ul>
{% endblock %}

{% block body %}
    {% if status == 1 %}
    <div class="content-wrapper">
      <div class="row justify-content-center">
        <h2>Erreur : <span class="text-black fw-bold">{{ error }}</span></h2>
        <blockquote class="blockquote">{{ description }}</blockquote>
      </div>
    </div>
    {% endif %}

    {% if status == 0 %}
    <div class="content-wrapper" >
      {% csrf_token %}
        <div class="row">
          <div class="col-sm-12">
            <div class="home-tab">
              <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                <div>
                  <div class="btn-wrapper">
                    <form action="">
                      <select class="btn btn-otline-dark align-items-center" name="nyc">
                        <option value="ALL">Compte principal</option>
                        {% for account in subaccounts %}
                        <option value={{ account.nickname }}>{{ account.nickname }}</option>
                        {% endfor %}
                    </select>
                    <select class="btn btn-otline-dark align-items-center" name="nyc">
                      <option value="ALL">Toutes les plateformes</option>
                      <option value="FTX">FTX</option>
                  </select>
                      <button type="submit" class="btn btn-primary text-white me-0"></i> Appliquer</button>
                  </form>
                  </div>
                </div>
              </div>
              <div class="tab-content tab-content-basic">
                <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview"> 
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="statistics-details d-flex align-items-center justify-content-between">
                        <div class="d-none d-md-block" id="balance" @click="change_devise">
                          <p class="statistics-title">Valeur total</p>
                          <h3 class="rate-percentage">[[ balance.balance ]] [[ balance.devise ]] </h3>
                          <p class="text-success d-flex" v-if="Variation >= 0"><i class="mdi mdi-menu-up"></i><span>+[[ Variation ]] [[ balanceVariation.devise ]] (24h)</span></p>
                          <p class="text-danger d-flex" v-if="Variation < 0"><i class="mdi mdi-menu-down"></i><span>-[[ Variation ]] [[ balanceVariation.devise ]] (24h)</span></p>
                        </div>
                        <div class="d-none d-md-block" id="gain" @click="change_devise">
                          <p class="statistics-title" >Total des gains/pertes</p>
                          <h3 class="rate-percentage">[[ gain.gain ]] [[ gain.devise]]</h3>
                          <p class="text-success d-flex"><i class="mdi mdi-menu-up"></i><span>+0.1%</span></p>
                        </div>
                        <div class="d-none d-md-block" id="coinBiggest" @click="change_devise">
                          <p class="statistics-title">Coin avec la plus grande valeur</p>
                          <h3 class="rate-percentage">[[ coinBiggest.coin ]]</h3>
                          <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>[[ coinBiggest.value ]] [[ coinBiggest.devise ]]</span></p>
                        </div>
                        <div class="d-none d-md-block" id="coinSmallest" @click="change_devise">
                          <p class="statistics-title">Coin avec la plus petite valeur</p>
                          <h3 class="rate-percentage" >[[ coinSmallest.coin ]]</h3>
                          <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>[[ coinSmallest.value ]] [[ coinSmallest.devise ]]</span></p>
                        </div>
                      </div>
                    </div>
                  </div> 
                  <div class="row flex-grow">
                    <div class="col-lg-8 d-flex flex-column">
                      <div class="row flex-grow">
                        <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
                          <div class="card card-rounded">
                            <div class="card-body">
                              <div class="d-sm-flex justify-content-between align-items-start">
                                <div>
                                 <h4 class="card-title card-title-dash">Graphique des performances</h4>
                                 <h5 class="card-subtitle card-subtitle-dash">Evolution du solde</h5>
                                </div>
                                <div id="performance-line-legend"></div>
                                <div>
                                  <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle toggle-dark btn-lg mb-0 me-0" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ce dernier mois</button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                      <a class="dropdown-item" href="#">Ces dernières 24h</a>
                                      <a class="dropdown-item" href="#">Cette dernière semaine</a>
                                      <div class="dropdown-divider"></div>
                                      <a class="dropdown-item" href="#">Global</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="chartjs-wrapper mt-5">
                                <canvas id="performaneLine"></canvas>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row flex-grow">
                        <div class="col-12 grid-margin stretch-card">
                          <div class="card card-rounded">
                            <div class="card-body">
                              <div class="d-sm-flex justify-content-between align-items-start">
                                <div>
                                  <h4 class="card-title card-title-dash">Gains/pertes des diffrentes crypto monnaies</h4>
                                 <p class="card-subtitle card-subtitle-dash">Visualisé quelles crypto monnaies vous font perdre et ganger de l'argent</p>
                                </div>
                                <div class="me-3"><div id="marketing-overview-legend"></div></div>
                                <div>
                                  <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle toggle-dark btn-lg mb-0 me-0" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ce dernier mois</button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                      <a class="dropdown-item" href="#">Ces dernières 24h</a>
                                      <a class="dropdown-item" href="#">Cette dernière semaine</a>
                                      <div class="dropdown-divider"></div>
                                      <a class="dropdown-item" href="#">Global</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="d-sm-flex align-items-center mt-1 justify-content-between">
                                <div class="d-sm-flex align-items-center mt-4 justify-content-between"><h2 class="me-2 fw-bold">362531€</h2>eur<h4 class="me-2"></h4><h4 class="text-success">(+1.37%)</h4></div>
                              </div>
                              <div class="chartjs-bar-wrapper mt-3">
                                <canvas id="marketingOverview"></canvas>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 d-flex flex-column">
                      <div class="row">
                        <div class="col-12 grid-margin stretch-card">
                          <div class="card card-rounded">
                            <div class="card-body">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h4 class="card-title card-title-dash">Répartitions des ressources</h4>
                                  </div>
                                  <canvas class="my-auto" id="doughnutChart" height="200"></canvas>
                                  <div id="doughnut-chart-legend" class="mt-5 text-center"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row flex-grow">
                    <div class="col-lg-8 d-flex flex-column">
                      <div class="row flex-grow">
                        <div class="col-md-6 col-lg-6 grid-margin stretch-card">
                          <div class="card card-rounded">
                            <div class="card-body card-rounded">
                              <h4 class="card-title  card-title-dash">Recent Events</h4>
                              <div class="list align-items-center border-bottom py-2">
                                <div class="wrapper w-100">
                                  <p class="mb-2 font-weight-medium">
                                    Change in Directors
                                  </p>
                                  <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                      <i class="mdi mdi-calendar text-muted me-1"></i>
                                      <p class="mb-0 text-small text-muted">Mar 14, 2019</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="list align-items-center border-bottom py-2">
                                <div class="wrapper w-100">
                                  <p class="mb-2 font-weight-medium">
                                    Other Events
                                  </p>
                                  <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                      <i class="mdi mdi-calendar text-muted me-1"></i>
                                      <p class="mb-0 text-small text-muted">Mar 14, 2019</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="list align-items-center border-bottom py-2">
                                <div class="wrapper w-100">
                                  <p class="mb-2 font-weight-medium">
                                    Quarterly Report
                                  </p>
                                  <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                      <i class="mdi mdi-calendar text-muted me-1"></i>
                                      <p class="mb-0 text-small text-muted">Mar 14, 2019</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="list align-items-center border-bottom py-2">
                                <div class="wrapper w-100">
                                  <p class="mb-2 font-weight-medium">
                                    Change in Directors
                                  </p>
                                  <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                      <i class="mdi mdi-calendar text-muted me-1"></i>
                                      <p class="mb-0 text-small text-muted">Mar 14, 2019</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              
                              <div class="list align-items-center pt-3">
                                <div class="wrapper w-100">
                                  <p class="mb-0">
                                    <a href="#" class="fw-bold text-primary">Show all <i class="mdi mdi-arrow-right ms-2"></i></a>
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 col-lg-6 grid-margin stretch-card">
                          <div class="card card-rounded">
                            <div class="card-body">
                              <div class="d-flex align-items-center justify-content-between mb-3">
                                <h4 class="card-title card-title-dash">Activities</h4>
                                <p class="mb-0">20 finished, 5 remaining</p>
                              </div>
                              <ul class="bullet-line-list">
                                <li>
                                  <div class="d-flex justify-content-between">
                                    <div><span class="text-light-green">Ben Tossell</span> assign you a task</div>
                                    <p>Just now</p>
                                  </div>
                                </li>
                                <li>
                                  <div class="d-flex justify-content-between">
                                    <div><span class="text-light-green">Oliver Noah</span> assign you a task</div>
                                    <p>1h</p>
                                  </div>
                                </li>
                                <li>
                                  <div class="d-flex justify-content-between">
                                    <div><span class="text-light-green">Jack William</span> assign you a task</div>
                                    <p>1h</p>
                                  </div>
                                </li>
                                <li>
                                  <div class="d-flex justify-content-between">
                                    <div><span class="text-light-green">Leo Lucas</span> assign you a task</div>
                                    <p>1h</p>
                                  </div>
                                </li>
                                <li>
                                  <div class="d-flex justify-content-between">
                                    <div><span class="text-light-green">Thomas Henry</span> assign you a task</div>
                                    <p>1h</p>
                                  </div>
                                </li>
                                <li>
                                  <div class="d-flex justify-content-between">
                                    <div><span class="text-light-green">Ben Tossell</span> assign you a task</div>
                                    <p>1h</p>
                                  </div>
                                </li>
                                <li>
                                  <div class="d-flex justify-content-between">
                                    <div><span class="text-light-green">Ben Tossell</span> assign you a task</div>
                                    <p>1h</p>
                                  </div>
                                </li>
                              </ul>
                              <div class="list align-items-center pt-3">
                                <div class="wrapper w-100">
                                  <p class="mb-0">
                                    <a href="#" class="fw-bold text-primary">Show all <i class="mdi mdi-arrow-right ms-2"></i></a>
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 d-flex flex-column">
      
                      <div class="row flex-grow">
                        <div class="col-12 grid-margin stretch-card">
                          <div class="card card-rounded">
                            <div class="card-body">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="d-flex justify-content-between align-items-center mb-3">
                                    <div>
                                      <h4 class="card-title card-title-dash">Leave Report</h4>
                                    </div>
                                    <div>
                                      <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle toggle-dark btn-lg mb-0 me-0" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Month Wise </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                                          <h6 class="dropdown-header">week Wise</h6>
                                          <a class="dropdown-item" href="#">Year Wise</a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="mt-3">
                                    <canvas id="leaveReport"></canvas>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row flex-grow">
                        <div class="col-12 grid-margin stretch-card">
                          <div class="card card-rounded">
                            <div class="card-body">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="d-flex justify-content-between align-items-center mb-3">
                                    <div>
                                      <h4 class="card-title card-title-dash">Top Performer</h4>
                                    </div>
                                  </div>
                                  <div class="mt-3">
                                    <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                      <div class="d-flex">
                                        <img class="img-sm rounded-10" src="images/faces/face1.jpg" alt="profile">
                                        <div class="wrapper ms-3">
                                          <p class="ms-1 mb-1 fw-bold">Brandon Washington</p>
                                          <small class="text-muted mb-0">162543</small>
                                        </div>
                                      </div>
                                      <div class="text-muted text-small">
                                        1h ago
                                      </div>
                                    </div>
                                    <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                      <div class="d-flex">
                                        <img class="img-sm rounded-10" src="images/faces/face2.jpg" alt="profile">
                                        <div class="wrapper ms-3">
                                          <p class="ms-1 mb-1 fw-bold">Wayne Murphy</p>
                                          <small class="text-muted mb-0">162543</small>
                                        </div>
                                      </div>
                                      <div class="text-muted text-small">
                                        1h ago
                                      </div>
                                    </div>
                                    <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                      <div class="d-flex">
                                        <img class="img-sm rounded-10" src="images/faces/face3.jpg" alt="profile">
                                        <div class="wrapper ms-3">
                                          <p class="ms-1 mb-1 fw-bold">Katherine Butler</p>
                                          <small class="text-muted mb-0">162543</small>
                                        </div>
                                      </div>
                                      <div class="text-muted text-small">
                                        1h ago
                                      </div>
                                    </div>
                                    <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                      <div class="d-flex">
                                        <img class="img-sm rounded-10" src="images/faces/face4.jpg" alt="profile">
                                        <div class="wrapper ms-3">
                                          <p class="ms-1 mb-1 fw-bold">Matthew Bailey</p>
                                          <small class="text-muted mb-0">162543</small>
                                        </div>
                                      </div>
                                      <div class="text-muted text-small">
                                        1h ago
                                      </div>
                                    </div>
                                    <div class="wrapper d-flex align-items-center justify-content-between pt-2">
                                      <div class="d-flex">
                                        <img class="img-sm rounded-10" src="images/faces/face5.jpg" alt="profile">
                                        <div class="wrapper ms-3">
                                          <p class="ms-1 mb-1 fw-bold">Rafell John</p>
                                          <small class="text-muted mb-0">Alaska, USA</small>
                                        </div>
                                      </div>
                                      <div class="text-muted text-small">
                                        1h ago
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
<!-- vue:js -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
<!-- axios:js -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
var balance = new Vue({
  delimiters: ['[[', ']]'],
  el: '#balance',
  data () {
      return{
        balance: {balance:"--"},
        balanceVariation: {oldValue:0},
        dev : 'USD',
        Variation:0,
      }
    },
  async mounted() {
      await this.getBalance()
      await this.getVariation()
      await this.applyVariation()
  },
  methods: {
    getBalance: async function(){
      await axios
        .get('/dashboard/api/get_total_usd_balance')
        .then(response => (this.balance = response.data))
    },
    getVariation: async function(){
      await axios
        .get('/dashboard/api/get_hitorical_balance_usd')
        .then(response => (this.balanceVariation = response.data))
    },
    applyVariation: async function(){
      this.Variation = this.balance['balance'] - this.balanceVariation['oldValue']
      this.Variation = this.Variation.toFixed(2)
    },
    change_devise(){
      did = true
      this.balance = {balance:"--"}
      if (this.dev == 'EUR'){
        if (did){
          axios
          .get('/dashboard/api/get_total_usd_balance')
          .then(response => (this.balance = response.data))
          this.dev = 'USD'
          did = false
        }
      }
      if (this.dev == 'USD'){
        if (did){
          axios
          .get('/dashboard/api/get_total_eur_balance')
          .then(response => (this.balance = response.data))
          this.dev = 'EUR'
          did = false
        }
      }
    }
  },
})
var gain = new Vue({
  delimiters: ['[[', ']]'],
  el: '#gain',
  data () {
      return{
        gain: {gain:"--"},
        dev : 'USD',
      }
    },
  mounted() {
      axios
        .get('/dashboard/api/get_gain_usd')
        .then(response => (this.gain = response.data))
  },
  methods: {
    change_devise(){
      this.gain = {gain:"--"}
      did = true
      if (this.dev == 'EUR'){
        if (did){
          axios
          .get('/dashboard/api/get_gain_usd')
          .then(response => (this.gain = response.data))
          this.dev = 'USD'
          did = false
        }
      }
      if (this.dev == 'USD'){
        if (did){
          axios
          .get('/dashboard/api/get_gain_eur')
          .then(response => (this.gain = response.data))
          this.dev = 'EUR'
          did = false
        }
      }
    }
  },
})
var coinBiggest = new Vue({
  delimiters: ['[[', ']]'],
  el: '#coinBiggest',
  data () {
      return{
        coinBiggest: {coin:"--"},
        dev : 'USD',
      }
    },
  mounted() {
      axios
        .get('/dashboard/api/get_biggest_coin_usd')
        .then(response => (this.coinBiggest = response.data))
  },
  methods: {
    change_devise(){
      this.coinSmallest = {coin:"--"}
      did = true
      if (this.dev == 'EUR'){
        if (did){
          axios
          .get('/dashboard/api/get_biggest_coin_usd')
          .then(response => (this.coinBiggest = response.data))
          this.dev = 'USD'
          did = false
        }
      }
      if (this.dev == 'USD'){
        if (did){
          axios
          .get('/dashboard/api/get_biggest_coin_eur')
          .then(response => (this.coinBiggest = response.data))
          this.dev = 'EUR'
          did = false
        }
      }
    }
  },
})
var coinSmallest = new Vue({
  delimiters: ['[[', ']]'],
  el: '#coinSmallest',
  data () {
      return{
        coinSmallest: {coin:"--"},
        dev : 'USD',
      }
    },
  mounted() {
      axios
        .get('/dashboard/api/get_smallest_coin_usd')
        .then(response => (this.coinSmallest = response.data))
  },
  methods: {
    change_devise(){
      this.coinSmallest = {coin:"--"}
      did = true
      if (this.dev == 'EUR'){
        if (did){
          axios
          .get('/dashboard/api/get_smallest_coin_usd')
          .then(response => (this.coinSmallest = response.data))
          this.dev = 'USD'
          did = false
        }
      }
      if (this.dev == 'USD'){
        if (did){
          axios
          .get('/dashboard/api/get_smallest_coin_eur')
          .then(response => (this.coinSmallest = response.data))
          this.dev = 'EUR'
          did = false
        }
      }
    }
  },
})
</script>


{% endblock %}